/*******************************************************
 * ROFI configs i3 audio device selection menu
 * Inherits from menu-base.rasi.
 *******************************************************/

@import "menu-base.rasi"
