/*******************************************************
 * ROFI configs i3 monitor menu
 * Inherits from menu-base.rasi, overrides lines count.
 *******************************************************/

@import "menu-base.rasi"

listview {
    lines: 9;
}
